p {
    color: blue;
    font-size: 25px;
}

button {
    color: aqua;
    background-color: antiquewhite;
}

#tombolmerah {
    color: red;
    background-color: aquamarine;
}

#fontbiru {
    color: blue;
    font-weight: bold;
}

/* Untuk class pakai titik (.) */
.fontbiru {
    color: blue;
    font-weight: bold;
}

.bghijau {
    background-color: green;
}